restriction_days.csv
COVID-19_Vaccinations_in_the_United_States_County.csv
Data dictionary social capital variables.pdf
LND01.xls
SVI 2018 Data.csv
SVI2018Documentation-H.pdf
U.S. Religion Census Religious Congregations and Membership Study, 2010 (County File) cb_data.TXT
U.S. Religion Census Religious Congregations and Membership Study, 2010 (County File) cb_descr.TXT
U.S. Religion Census Religious Congregations and Membership Study, 2010 (County File).COL
U.S. Religion Census Religious Congregations and Membership Study, 2010 (County File).XLSX
U.S._State_and_Territorial_Gathering_Bans__March_11-December_31__2020_by_County_by_Day.csv
U.S._State_and_Territorial_Orders_Closing_and_Reopening_Bars_Issued_from_March_11__2020_through_December_31__2020_by_County_by_Day.csv
U.S._State_and_Territorial_Orders_Closing_and_Reopening_Restaurants_Issued_from_March_11__2020_through_December_31__2020_by_County_by_Day.csv
U.S._State_and_Territorial_Public_Mask_Mandates_From_April_10__2020_through_April_28__2021_by_County_by_Day.csv
U.S._State_and_Territorial_Stay-At-Home_Orders__March_15___December_31_by_County_by_Day.csv
countypres_2000-2020.csv
date_22_iulie_la_13_00.json
penn-state-social-k.csv
republican_president.csv
state-regions.csv
vax-data-old.csv
vax-data.csv
